@charset "UTF-8";

html {
    height: 100%;
}


.alert {
    font-size: small;
    color: red;
    margin-left: 10%;
}

/* ログイン */
.login_layout {
    height: 100vh;
    background: linear-gradient(to bottom, dodgerblue 40%, gold);
}

body {
    height: 100%;
    position: relative;
}

a:hover {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

header {
    height: 25%;
    width: 100%;
    position: relative;
}

.login_title {
    padding-top: 12%;
    left: 38%;
    text-align: center;
    color: #fff;
    font-size: xx-large;
    font-weight: 500;
}

img {
    height: 20%;
    width: 10%;
}


#login_container {
    position: absolute;
    top: 35%;
    left: 39%;
    width: 22%;
    height: 46%;
    /* 背景のみ透過 */
    background-color: rgba(80, 80, 80, 0.35);
    border-radius: 10px;
    color: #fff;
}

#login_container .area_title {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 8%;
    font-size: large;
}

#login_container a {
    color: #fff;
    font-size: medium;
    margin-top: 10%;
}

#login_container form {
    display: flex;
    flex-flow: column;
}

#login_container label {
    width: 80%;
    padding-left: 10%;
    padding-bottom: 5px;
    text-transform: lowercase;
    font-size: small;
}

#login_container .input {
    width: 80%;
    height: 35px;
    margin-bottom: 17px;
    margin-left: 10%;
    border-radius: 6px;
    border: 1px gray;
}

.login_button {
    width: 30%;
    height: 35px;
    border-radius: 6px;
    border: 1px gray;
    background-color: crimson;
    color: #fff;
    font-size: large;
    margin-left: 61%;
    cursor: pointer;
}

#login_container .register_page {
    position: absolute;
    bottom: 5%;
    left: 17%;
}


/* 新規登録・登録後レイアウト*/

.register_title {
    padding-top: 10%;
    text-align: center;
    color: #fff;
    font-size: xx-large;
    font-weight: 500;
}

.register_title img {
    width: 10%;
    height: 20%;
}

#register_container {
    position: relative;
    display: block;
    margin-top: 3%;
    margin-left: 39%;
    width: 22%;
    height: 65%;
    /* 背景のみ透過 */
    background-color: rgba(80, 80, 80, 0.4);
    border-radius: 10px;
    color: #fff;
}

#register_container .area_title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: larger;
}

#register_container a {
    color: #fff;
    font-size: medium;
}


#register_container form {
    display: flex;
    flex-flow: column;
}

#register_container label {
    width: 80%;
    padding-left: 10%;
    padding-bottom: 5px;
    text-transform: lowercase;
    font-size: small;
}

.new_input {
    width: 80%;
    height: 35px;
    margin-bottom: 20px;
    margin-left: 10%;
    border-radius: 6px;
    border: 1px gray;
}

input[type='password'] {
    width: 80%;
    height: 35px;
    margin-bottom: 20px;
    margin-left: 10%;
    border-radius: 6px;
    border: 1px gray;
}

.register_button {
    width: 40%;
    height: 34px;
    border-radius: 6px;
    border: 1px gray;
    background-color: crimson;
    color: #fff;
    font-size: large;
    margin-top: 2%;
    margin-left: 52%;
    cursor: pointer;
}

#register_container .login_page {
    position: absolute;
    bottom: 2%;
    left: 26%;
    font-size: large;
}


/* 登録完了画面 */
.added_title {
    padding-top: 13%;
    text-align: center;
    color: #fff;
    font-size: xx-large;
    font-weight: 500;
}

.added_title img {
    width: 10%;
    height: 20%;
}

#clear_container {
    position: absolute;
    top: 36%;
    left: 39%;
    width: 22%;
    height: 35%;
    /* 背景のみ透過 */
    background-color: rgba(80, 80, 80, 0.4);
    border-radius: 10px;
    color: #fff;
}

#clear_container p:nth-child(1) {
    text-align: center;
    margin-top: 11%;
    margin-bottom: 5%;
    font-weight: 700;
}

#clear_container p:nth-child(2) {
    text-align: center;
    margin-bottom: 15%;
    font-weight: 700;
}

#clear_container p:nth-child(3) {
    text-align: center;
    margin-bottom: 5%;
}

#clear_container p:nth-child(4) {
    text-align: center;
    margin-bottom: 5%;
}

#clear_container p:nth-child(5) {
    text-align: center;
}


#clear_container .btn {
    width: 45%;
    height: 30px;
    border-radius: 6px;
    border: 1px gray;
    background-color: crimson;
    color: #fff;
    font-size: large;
    margin-left: 27%;
    cursor: pointer;
    padding-top: 10px;
}

#clear_container a {
    color: #fff;
    font-size: medium;
    margin-top: 8%;
}
