@charset "utf-8";

/* ログイン後共通 */
html {
    font-size: 16px;

}

body {
    color: #705c53;
    font-size: 1rem;
    font-family: "YuGothic", Yu Gothic, sans-serif;
}

ul,
li,
ol {
    list-style-type: none;
}

a {
    color: #727272;
    text-decoration: none;
}


img {
    max-width: 100%;
}


a:hover {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}



/* header */
header {
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
    z-index: 999;
    background-color: #0066CC;
    /* ヘッダーを最前面に表示するための設定 */
}


.header_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.atlas_icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.atlas_icon a {
    width: 50%;
    display: block;
}

.atlas_icon a img {
    display: block;
    width: 70%;
    height: 60%;
    padding-left: 15%;
}

.user_name {
    position: absolute;
    top: 14%;
    right: 15%;
    text-align: center;
    padding: 20px 0;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
}


/* アコーディオンメニュー(矢印) */
.menu_button {
    width: 60px;
    height: 80px;
    position: absolute;
    top: 1px;
    right: 8%;

    .arrow {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;

        &::before {
            position: absolute;
            content: "";
            top: 40%;
            left: 50%;
            width: 15px;
            height: 15px;
            transform: translate(-50%, -40%) rotate(135deg);
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            transition: 0.3s ease;
        }
    }
}


.menu_button.is-open {
    .arrow {
        &::before {
            top: 60%;
            transform: translate(-50%, -60%)rotate(-45deg);
        }
    }
}

/* アコーディオンメニュー（コンテンツ） */
.accordion_menu {
    width: 20%;
    height: 400%;
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    opacity: 0;
    transition: .3s ease-in-out;
    pointer-events: none;
    transform: translateY(-30px);
    right: 0%;
    z-index: 55;
    border: 3px solid;
    border-color: darkblue;
    margin: 0;
    padding: 0;
}

.accordion_menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.accordion_list {
    display: flex;
    align-items: center;
    height: 33.333%;
    width: 100%;

}

.accordion_list a {
    width: 100%;
    display: block;
    color: darkgray;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 2px;
}

.accordion_list a:hover {
    width: 100%;
    display: flex;
    background-color: darkblue;
    color: #fff;
    height: 100%;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
}



.accordion_menu.is-open {
    opacity: 1;
    transform: translateY(0);
    /* リンク有効 */
    pointer-events: auto;
}


/* ユーザーアイコン */
.user_icon {
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
    transform: scale(60%);
}



/* main content 全体*/
#row {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    top: 10%;
    height: 100%;
}

#container {
    flex: 0 0 79%;
}

/* 投稿フォーム */
#postForm {
    width: 100%;
    height: 20%;
    border-bottom: 6px solid lightgrey;
    display: flex;
    flex-wrap: nowrap;
}


.posting_icon {
    width: 15%;
    height: 100%;
}

.posting_icon img {
    padding-top: 25%;
    padding-left: 60%;
    transform: scale(65%);
}


.post_form {
    width: 85%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 10px;
    padding-top: 30px;
}

.post_area {
    font-size: 18px;
    width: 680px;
    height: 72px;
    border: 0;
}

.post_area::placeholder {
    color: rgba(100, 100, 100, 0.3);

}


.post_submit {
    width: 40px;
    height: 40px;
    border-radius: 6px;
}

/* 投稿一覧 */
#threadArea {
    width: 100%;
    height: 100%;
}

.thread_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid lightgray;
    padding-bottom: 18px;
}

.posted_icon {
    padding-top: 18px;
    padding-left: 60px;
    padding-right: 30px;
    width: 30px;
    height: 30px;
}

.posted_content {
    width: 60%
}

.posted_content .name {
    font-weight: bold;
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: small;
}

.posted_date {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
    color: #000;
    width: 25%;
    padding-top: 5px;
    font-size: small;
}

/* サイドバー */
#side-bar {
    flex: 0 0 20%;
    border-left: 1px solid #727272;
    height: 100%;
}

#confirm {
    width: 100%;
    height: 35%;
    border-bottom: 1px solid #727272;
    padding: 20px 20px 20px 20px;
    font-weight: 500;
    font-size: medium;
    color: #000;
}

#confirm p {
    padding-top: 3%;
}

.follow_box {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10%;
}

.follow_box p {
    margin-right: 20%;
    margin-bottom: 5%;
}


.follower_box {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 20%;
}

.follower_box p {
    margin-right: 13.5%;
    margin-bottom: 5%;
}

.follow_btn {
    border-color: #3300FF;
    background-color: #3300FF;
    border-radius: 8px;
    margin-left: 40%;
    padding: 5px 5px 5px 5px;
}

.follow_btn a {
    color: #fff;
    padding: 5px 8px 5px 8px;
}

.follower_btn {
    border-color: #3300FF;
    background-color: #3300FF;
    border-radius: 8px;
    margin-left: 40%;
    padding: 5px 2.7px 5px 2.7px;
}

.follower_btn a {
    color: #fff;
    padding: 5px 2.7px 5px 2.7px;
}

.search_btn {
    border-color: #3300FF;
    background-color: #3300FF;
    border-radius: 8px;

    margin-top: 10%;
    margin-left: 20%;
}

.search_btn a {
    color: #fff;
    font-size: large;
    display: block;
    padding: 5px 25px 5px 25px;
}
